<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>flightbooker@odin.com Booking information</h1>
    <p>
      Dear <%= @passenger.name %>,<br>
      Thank you for your booking.
    </p>
  </body>
</html>